/* forms and tables don't inherit the css stuff from the body */

body {
	background-color:#B7DBFF
}

input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}

table {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
    margin: 1em; 
    border-collapse: collapse;
    width: 100%;
} 


td, th {
    padding: .3em; 
    border: 1px #ccc solid;
	text-align:left;
}
thead { background: #fc9;  }
tbody { background: #9cf; } 

td.tabl {
    /* border-style: solid; */
   padding: .3em; border: 1px #ccc solid; 
}
 
tr.fail {
	background-color:#FFCCFF;  /* pale red */
}

td.fail {
	background-color:#FFCCFF;  /* pale red */
}

th.tab1 {
    padding: .3em; border: 10px #ccc solid;
	text-align:left;
}

td.td_smd {
	/* show, modify, delete links */
	width: 5%;
}
td.td_smd_fail {
	background-color:#FFCCFF;  /* pale red */
	width: 5%;
}

.auto-style1 {
	border-style: solid;
	border-width: 1px;
	font-size:large
}

.errorarea {
	border-style: solid;
	border-width: 1px;
    background-color:#FFFF99;
    border-color: #B7DBFF
}

.infoarea {
	border-style: solid;
	border-width: 1px;
    background-color:#CCFF99;
    border-color: #B7DBFF
}


table.fullwidth {
	/* border-style: solid; */
	border-width: 2px;
	border-color: black;
	background-color: #B7DBFF;
	width:100%;
	
}

th.fullwidth {
    text-align:left;
    width:10%
}

.cap1 {
	/* background-color: #B7DBFF; */
	/* font-weight:normal;
	font-size:medium */	
    border-style: solid; 
	border-width: 2px;
	border-bottom-width: 0;
	border-color:blue;

	font-family: inherit;
    font-size: medium;
    font-weight: bold;
    background: #B7DBFF;
    padding-top:2px;
    padding-bottom:8px;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #B7DBFF, #D9ECFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#B7DBFF), to(#D9ECFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#B7DBFF', EndColorStr='#D9ECFF', GradientType=0);
}  

div.floatleft {
	float:left;
	display:inline;
}


